[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clinmon"]
	path = clinmon
	url = https://github.com/cran/clinmon
[submodule "clintools"]
	path = clintools
	url = https://github.com/lilleoel/clintools
